{% extends 'admin/layouts/base.html' %} {% block title %} AudioBooks {% endblock
title %}

<!-- Specific CSS goes HERE -->
{% block stylesheets %}{% endblock stylesheets %} {% block content %}

<div class="container-fluid py-4">
  <div class="row">
    <div class="col-3">
      <button
        type="button"
        class="btn bg-gradient-info"
        data-bs-toggle="modal"
        data-bs-target="#create-AudioBook"
      >
        Create AudioBook
      </button>
    </div>
    <div class="col-12">
      <div class="card mb-4">
        <div class="card-header pb-0">
          <h6>AudioBooks</h6>
        </div>
        <div class="card-body px-0 pt-0 pb-2">
          <div class="table-responsive p-0">
            <table class="table align-items-center mb-0">
              <thead>
                <tr>
                  <th
                    class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7"
                  >
                    File
                  </th>
                  <th
                    class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7"
                  >
                    Book
                  </th>
                  <th
                    class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7"
                  >
                    Narrator
                  </th>
                  <th
                    class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7 ps-2"
                  >
                    Created At
                  </th>
                  <th
                    class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7"
                  >
                    Updated At
                  </th>
                  <th class="text-secondary opacity-7">Actions</th>
                </tr>
              </thead>
              <tbody>
                {% for audiobook in audiobooks %}
                <tr>
                  <td>
                    <div class="d-flex px-2 py-1">
                      <div class="d-flex flex-column justify-content-center">
                        <h6 class="mb-0 text-sm"><i
                          class="fas fa-file-audio text-dark me-2"
                          aria-hidden="true"
                        ></i
                        ><a href="/static/uploads/audiobooks/{{ audiobook.file }}">file</a></h6>
                      </div>
                    </div>
                  </td>
                  <td>
                    <div class="d-flex px-2 py-1">
                      <div class="d-flex flex-column justify-content-center">
                        <h6 class="mb-0 text-sm">
                          {% for book in books %}
                            {% if book.id == audiobook.book_id %}
                              {{ book.title }}
                            {% endif %}
                          {% endfor %}
                        </h6>
                      </div>
                    </div>
                  </td>
                  <td>
                    <div class="d-flex px-2 py-1">
                      <div class="d-flex flex-column justify-content-center">
                        <h6 class="mb-0 text-sm">
                          {% for narrator in narrators %}
                            {% if narrator.id == audiobook.narrator_id %}
                              {{ narrator.first_name }} {{ narrator.middle_name }} {{ narrator.last_name }}
                            {% endif %}
                          {% endfor %}
                        </h6>
                      </div>
                    </div>
                  </td>
                  <td class="align-middle text-center">
                    <span class="text-secondary text-xs font-weight-bold"
                      >{{ audiobook.created_at }}</span
                    >
                  </td>
                  <td class="align-middle text-center">
                    <span class="text-secondary text-xs font-weight-bold"
                      >{{ audiobook.updated_at }}</span
                    >
                  </td>
                  <td class="align-middle">
                    <div class="ms-auto">
                      <a
                        class="btn btn-link text-dark px-3 mb-0"
                        href="/admin/edit_audiobook/{{ audiobook.id }}"
                        ><i
                          class="fas fa-pencil-alt text-dark me-2"
                          aria-hidden="true"
                        ></i
                        >Edit</a
                      >

                      <a
                        class="btn btn-link text-danger text-gradient px-3 mb-0"
                        href="/admin/delete_audiobook/{{ audiobook.id }}"
                        ><i class="far fa-trash-alt me-2" aria-hidden="true"></i
                        >Delete</a
                      >
                    </div>
                  </td>
                </tr>
                {% endfor %}
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
  {% include "admin/includes/footer.html" %}
</div>

<div
  class="modal fade"
  id="create-AudioBook"
  tabindex="-1"
  aria-labelledby="create-AudioBookLabel"
  aria-hidden="true"
>
  <div class="modal-dialog">
    <form class="modal-content" enctype="multipart/form-data" action="/admin/create_audiobook" method="post">
      <div class="modal-header">
        <h5 class="modal-title" id="create-AudioBookLabel">Create AudioBook</h5>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>
      <div class="modal-body">
        <div class="input-group input-group-dynamic">
          <!-- <label class="form-label" for="file">File</label> -->
          <input type="file" name="file" id="file" class="form-control" placeholder="Enter Cover image Name" required>
        </div>
        <div class="input-group input-group-dynamic m-2">
          <!-- <label class="form-label" for="file">File</label> -->
          <select class="form-control select2" name="book_id" id="book_id">
            <option value="">Select a Book</option>
            {% for book in books %}
              <option value="{{ book.id }}">{{ book.title }}</option>
            {% endfor %}
        </select>
        </div>
        <div class="input-group input-group-dynamic m-2">
          <!-- <label class="form-label" for="file">File</label> -->
          <select class="form-control select2" name="narrator_id" id="narrator_id">
            <option value="">Select a narrator</option>
            {% for narrator in narrators %}
              <option value="{{ narrator.id }}">{{ narrator.first_name }} {{ narrator.middle_name }} {{ narrator.last_name }}</option>
            {% endfor %}
        </select>
        </div>
      </div>
      <div class="modal-footer justify-content-between">
        <button
          type="button"
          class="btn bg-gradient-dark"
          data-bs-dismiss="modal"
        >
          Close
        </button>
        <button type="submit" class="btn bg-gradient-info">Submit</button>
      </div>
    </form>
  </div>
</div>
{% endblock content %}

<!-- Specific JS goes HERE -->
{% block javascripts %}{% endblock javascripts %}
