{% extends "admin/base.html" %}
{% block title %} Authors {% endblock %}
{% block authors_active %} bg-info active {% endblock %}
{% block languages_active %} link-info {% endblock %}
{% block books_active %} link-info {% endblock %}
{% block users_active %} link-info {% endblock %}
{% block home_active %} link-info {% endblock %}
{% block content %}
        <div class="container">
            <div class="table-responsive">
                <table
                  class="table table-striped table-hover table-borderless table-primary align-middle"
                >
                  <thead class="table-light">
                    <tr>
                      <th>First Name</th>
                      <th>Middle Name</th>
                      <th>Last Name</th>
                      <th>Actions</th>
                    </tr>
                  </thead>
                  <tbody class="table-group-divider">
                    {% for author in authors|sort(attribute='first_name') %}
                    <tr class="table-light">
                      <td>{{ author.first_name }}</td>
                      <td>{{ author.middle_name }}</td>
                      <td>{{ author.last_name }}</td>
                      <td>
                        <a href="#"><i class="fa fa-edit"></i></a>
                        <a href="#"><i class="fa fa-trash"></i></a>
                      </td>
                    </tr>
                    {% endfor %}
                  </tbody>
                  <tfoot></tfoot>
                </table>
              </div>
        </div>
{% endblock %}