{% extends 'admin/layouts/base.html' %}

{% block title %} Books {% endblock title %}

<!-- Specific CSS goes HERE -->
{% block stylesheets %}
<!-- DATATABLES -->
<link href="https://cdn.datatables.net/v/bs5/dt-1.13.3/datatables.min.css" rel="stylesheet"/>
<!-- SELECT2 -->
<link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/css/select2.min.css" rel="stylesheet" />
<!-- SUMMERNOTE -->
<link href="https://cdn.jsdelivr.net/npm/summernote@0.8.18/dist/summernote-lite.min.css" rel="stylesheet">
{% endblock stylesheets %}

{% block content %}

    <div class="container-fluid py-4">

      <div class="row">
        <div class="col-3">
          <button type="button" class="btn bg-gradient-info" data-bs-toggle="modal" data-bs-target="#create-book">
            Create Book
          </button>
        </div>
        <div class="col-12">
          <div class="card mb-4">
            <div class="card-header pb-0">
              <h6>Books</h6>
            </div>
            <div class="card-body px-0 pt-0 pb-2">
              <div class="table-responsive p-0">
                <table class="table align-items-center mb-0" id="books">
                  <thead>
                    <tr>
                        <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Cover Image</th>
                      <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Title</th>
                      <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Authors</th>
                      <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Language</th>
                      <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">File</th>
                      <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7 ps-2">Created At</th>
                      <th class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Updated At</th>
                      <th class="text-secondary opacity-7">Actions</th>
                    </tr>
                  </thead>
                  <tbody>
                    {% for book in books %}
                    <tr>
                        <td>
                            <div class="d-flex px-2 py-1">
                              <div>
                                <img src="/static/uploads/books/{{ book.cover }}" class="avatar avatar-sm me-3" alt="user1">
                              </div>
                            </div>
                          </td>
                      <td>
                        <div class="d-flex px-2 py-1">
                          <div class="d-flex flex-column justify-content-center">
                            <h6 class="mb-0 text-sm">
                              <a href="/book/{{ book.id }}">{{ book.title|safe }}</a>
                              </h6>
                          </div>
                        </div>
                      </td>
                      <td>
                        <div class="d-flex px-2 py-1">
                          <div class="d-flex flex-column justify-content-center">
                            <h6 class="mb-0 text-sm">
                                {% for author in book.authors %}
                                <a href="/author/{{ author.id }}">
                                  {{ author.first_name }} {{ author.middle_name }} {{ author.last_name }}
                                </a>
                        {% endfor %}
                            </h6>
                          </div>
                        </div>
                      </td>
                      <td>
                        <div class="d-flex px-2 py-1">
                          <div class="d-flex flex-column justify-content-center">
                            <h6 class="mb-0 text-sm">
                                {% for language in languages %}
                          {% if language.id == book.language_id %}
                          <a href="/language/{{ language.id }}">
                            {{ language.name }}
                          </a>
                            
                          {% endif %}
                        {% endfor %}
                            </h6>
                          </div>
                        </div>
                      </td>
                      <td>
                        <div class="d-flex px-2 py-1">
                          <div class="d-flex flex-column justify-content-center">
                            <h6 class="mb-0 text-sm">
                              <a href="/read/{{ book.id }}">
                                <i class="fa fa-file"></i>
                                File
                              </a>
                            </h6>
                          </div>
                        </div>
                      </td>
                      <td class="align-middle text-center">
                        <span class="text-secondary text-xs font-weight-bold">{{ book.created_at }}</span>
                      </td>
                      <td class="align-middle text-center">
                        <span class="text-secondary text-xs font-weight-bold">{{ book.updated_at }}</span>
                      </td>
                      <td class="align-middle">
                        <div class="ms-auto">
                          <a
                            class="btn btn-link text-dark px-3 mb-0"
                            href="/admin/edit_book/{{ book.id }}"
                            ><i
                              class="fas fa-pencil-alt text-dark me-2"
                              aria-hidden="true"
                            ></i
                            >Edit</a
                          >
    
                          <a
                            class="btn btn-link text-danger text-gradient px-3 mb-0"
                            href="/admin/delete_book/{{ book.id }}"
                            ><i class="far fa-trash-alt me-2" aria-hidden="true"></i
                            >Delete</a
                          >
                        </div>
                      </td>
                    </tr>
                    {% endfor %}
                  </tbody>
                  <tfoot>
                    <tr>
                      <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Cover Image</th>
                    <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Title</th>
                    <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Authors</th>
                    <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Language</th>
                    <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">File</th>
                    <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7 ps-2">Created At</th>
                    <th class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Updated At</th>
                    <th class="text-secondary opacity-7">Actions</th>
                  </tr>
                  </tfoot>
                </table>
              </div>
            </div>
          </div>
        </div>
      </div>
      {% include "admin/includes/footer.html" %}

    </div>

    <div class="modal fade" id="create-book" tabindex="-1" aria-labelledby="create-bookLabel" aria-hidden="true">
      <div class="modal-dialog">
        <form class="modal-content" enctype="multipart/form-data" action="/admin/create_book" method="post">
          <div class="modal-header">
            <h5 class="modal-title" id="create-bookLabel">Create Book</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">
            <div class="input-group input-group-dynamic m-2">
                <!-- <label class="form-label" for="file">File</label> -->
                <input type="file" name="cover" id="cover" class="form-control" placeholder="Enter Cover image Name" required>
              </div>
              <div class="input-group input-group-dynamic m-2">
                <!-- <label class="form-label" for="file">File</label> -->
                <input type="text" name="title" id="title" class="form-control" placeholder="Enter Title" required>
              </div>
              <div class="input-group input-group-dynamic m-2">
                <select class="form-control select2" multiple="multiple" name="authors" id="authors" style="width: 100%;">
                  {% for author in authors %}
                    <option value="{{ author.id }}">{{ author.first_name }} {{ author.middle_name }} {{ author.last_name }}</option>
                  {% endfor %}
                </select>
              </div>
              <div class="input-group input-group-dynamic m-2">
                <!-- <label class="form-label" for="file">File</label> -->
                <select class="form-control select2" name="language" id="language">
                  <option value="">Select a language</option>
                  {% for language in languages %}
                    <option value="{{ language.id }}">{{ language.name }}</option>
                  {% endfor %}
              </select>
              </div>
              <div class="input-group input-group-dynamic m-2">
                <select class="form-control select2" multiple="multiple" name="categories" id="categories" style="width: 100%;">
                  {% for category in categories %}
                    <option value="{{ category.id }}">{{ category.name }}</option>
                  {% endfor %}
                </select>
              </div>
              <div class="input-group input-group-dynamic m-2">
                <!-- <label class="form-label" for="file">File</label> -->
                <input type="file" name="file" id="file" class="form-control" placeholder="Enter Cover image Name" required>
              </div>
              <div class="input-group input-group-dynamic m-2">
                <!-- <label class="form-label" for="file">File</label> -->
                <textarea class="form-control"  name="description" id="description" cols="30" rows="10" placeholder="Enter Description"></textarea>
              </div>
          </div>
          <div class="modal-footer justify-content-between">
            <button type="button" class="btn bg-gradient-dark" data-bs-dismiss="modal">Close</button>
            <button type="submit" class="btn bg-gradient-info">Submit</button>
          </div>
        </form>
      </div>
    </div>
{% endblock content %}
<!-- JQUERY -->
<!-- Specific JS goes HERE --> 
{% block javascripts %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.3/jquery.min.js"></script>
<!-- DTATABLES -->
<script src="https://cdn.datatables.net/v/bs5/dt-1.13.3/datatables.min.js"></script>
<!-- SELECT2 -->
<script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js"></script>
<!-- SUMMERNOTE -->
    <script src="https://cdn.jsdelivr.net/npm/summernote@0.8.18/dist/summernote-lite.min.js"></script>
<!-- Page Scripts -->
<script>
  $(function () {
    $("#books").DataTable({
      responsive: true,
      autoWidth: false,
    });

    $('.select2').select2()
    $('#description').summernote()
});
</script>
{% endblock javascripts %}
