{% extends 'admin/layouts/base.html' %}

{% block title %} Feedbacks {% endblock title %}

<!-- Specific CSS goes HERE -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}

    <div class="container-fluid py-4">

      <div class="row">
        <div class="col-12">
          <div class="card mb-4">
            <form action="/admin/edit_feedback/{{ feedback.id }}" method="post">
            <div class="card-header pb-0">
              <h6>Edit Feedback</h6>
            </div>
            <div class="card-body">
                <div class="input-group input-group-dynamic mb-2">
                    <!-- <label class="form-label" for="file">File</label> -->
                    <input type="text" name="full_name" id="full_name" class="form-control" value="{{ feedback.full_name }}"  placeholder="Enter Full Name">
                  </div>
                  <div class="input-group input-group-dynamic mb-2">
                    <!-- <label class="form-label" for="file">File</label> -->
                    <input type="email" name="email" id="email" class="form-control" value="{{ feedback.email }}"  placeholder="Enter Middle Name">
                  </div>
                  <div class="input-group input-group-dynamic">
                    <!-- <label class="form-label" for="file">File</label> -->
                    <textarea class="form-control" name="" id="" cols="30" rows="10">{{ feedback.message }}</textarea>
                  </div>
            </div>
            <div class="card-footer">
                <button type="submit" class="btn bg-gradient-info">Submit</button>
            </div>
        </form>
          </div>
        </div>
      </div>
      {% include "admin/includes/footer.html" %}

    </div>
{% endblock content %}

<!-- Specific JS goes HERE --> 
{% block javascripts %}{% endblock javascripts %}
