{% extends 'admin/layouts/base.html' %}

{% block title %} Users {% endblock title %}

<!-- Specific CSS goes HERE -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}

    <div class="container-fluid py-4">

      <div class="row">
        <div class="col-12">
          <div class="card mb-4">
            <form action="/admin/edit_user/{{ user.id }}" method="post">
            <div class="card-header pb-0">
              <h6>Edit User</h6>
            </div>
            <div class="card-body">
                <div class="input-group input-group-dynamic mb-2">
                    <!-- <label class="form-label" for="file">File</label> -->
                    <input type="text" name="username" id="username" class="form-control" value="{{ user.username }}"  placeholder="Enter Userame">
                  </div>
                  <div class="input-group input-group-dynamic mb-2">
                    <!-- <label class="form-label" for="file">File</label> -->
                    <input type="password" name="password" id="password" class="form-control" value="{{ user.password }}"  placeholder="Enter Password">
                  </div>
            </div>
            <div class="card-footer">
                <button type="submit" class="btn bg-gradient-info">Submit</button>
            </div>
        </form>
          </div>
        </div>
      </div>
      {% include "admin/includes/footer.html" %}

    </div>
{% endblock content %}

<!-- Specific JS goes HERE --> 
{% block javascripts %}{% endblock javascripts %}
