{% extends 'admin/layouts/base.html' %}

{% block title %} Authors {% endblock title %}

<!-- Specific CSS goes HERE -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}

    <div class="container-fluid py-4">

      <div class="row">
        <div class="col-12">
          <div class="card mb-4">
            <form action="/admin/edit_author/{{ author.id }}" method="post">
            <div class="card-header pb-0">
              <h6>Edit Author</h6>
            </div>
            <div class="card-body">
                <div class="input-group input-group-dynamic mb-2">
                    <!-- <label class="form-label" for="file">File</label> -->
                    <input type="text" name="first_name" id="first_name" class="form-control" value="{{ author.first_name }}"  placeholder="Enter First Name">
                  </div>
                  <div class="input-group input-group-dynamic mb-2">
                    <!-- <label class="form-label" for="file">File</label> -->
                    <input type="text" name="middle_name" id="middle_name" class="form-control" value="{{ author.middle_name }}"  placeholder="Enter Middle Name">
                  </div>
                  <div class="input-group input-group-dynamic">
                    <!-- <label class="form-label" for="file">File</label> -->
                    <input type="text" name="last_name" id="last_name" class="form-control" value="{{ author.last_name }}"  placeholder="Enter Last Name">
                  </div>
            </div>
            <div class="card-footer">
                <button type="submit" class="btn bg-gradient-info">Submit</button>
            </div>
        </form>
          </div>
        </div>
      </div>
      {% include "admin/includes/footer.html" %}

    </div>
{% endblock content %}

<!-- Specific JS goes HERE --> 
{% block javascripts %}{% endblock javascripts %}
