{% extends 'admin/layouts/base.html' %}

{% block title %} Feedbacks {% endblock title %}

<!-- Specific CSS goes HERE -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}

    <div class="container-fluid py-4">

      <div class="row">
        <div class="col-3">
          <button type="button" class="btn bg-gradient-info" data-bs-toggle="modal" data-bs-target="#create-feedback">
            Create Feedback
          </button>
        </div>
        <div class="col-12">
          <div class="card mb-4">
            <div class="card-header pb-0">
              <h6>Feedbacks</h6>
            </div>
            <div class="card-body px-0 pt-0 pb-2">
              <div class="table-responsive p-0">
                <table class="table align-items-center mb-0">
                  <thead>
                    <tr>
                      <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Full Name</th>
                      <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Email</th>
                      <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Message</th>
                      <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7 ps-2">Created At</th>
                      <th class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Updated At</th>
                      <th class="text-secondary opacity-7">Actions</th>
                    </tr>
                  </thead>
                  <tbody>
                    {% for feedback in feedbacks %}
                    <tr>
                      <td>
                        <div class="d-flex px-2 py-1">
                          <div class="d-flex flex-column justify-content-center">
                            <h6 class="mb-0 text-sm">{{ feedback.full_name }}</h6>
                          </div>
                        </div>
                      </td>
                      <td>
                        <div class="d-flex px-2 py-1">
                          <div class="d-flex flex-column justify-content-center">
                            <h6 class="mb-0 text-sm">{{ feedback.email }}</h6>
                          </div>
                        </div>
                      </td>
                      <td>
                        <div class="d-flex px-2 py-1">
                          <div class="d-flex flex-column justify-content-center">
                            <h6 class="mb-0 text-sm">{{ feedback.message }}</h6>
                          </div>
                        </div>
                      </td>
                      <td class="align-middle text-center">
                        <span class="text-secondary text-xs font-weight-bold">{{ feedback.created_at }}</span>
                      </td>
                      <td class="align-middle text-center">
                        <span class="text-secondary text-xs font-weight-bold">{{ feedback.updated_at }}</span>
                      </td>
                      <td class="align-middle">
                        <div class="ms-auto">
                          <a
                            class="btn btn-link text-dark px-3 mb-0"
                            href="/admin/edit_feedback/{{ feedback.id }}"
                            ><i
                              class="fas fa-pencil-alt text-dark me-2"
                              aria-hidden="true"
                            ></i
                            >Edit</a
                          >
    
                          <a
                            class="btn btn-link text-danger text-gradient px-3 mb-0"
                            href="/admin/delete_feedback/{{ feedback.id }}"
                            ><i class="far fa-trash-alt me-2" aria-hidden="true"></i
                            >Delete</a
                          >
                        </div>
                      </td>
                    </tr>
                    {% endfor %}
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
      </div>
      {% include "admin/includes/footer.html" %}

    </div>

    <div class="modal fade" id="create-feedback" tabindex="-1" aria-labelledby="create-feedbackLabel" aria-hidden="true">
      <div class="modal-dialog">
        <form class="modal-content" action="/admin/create_feedback" method="post">
          <div class="modal-header">
            <h5 class="modal-title" id="create-feedbackLabel">Create Feedback</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">
              <div class="input-group input-group-dynamic m-2">
                <!-- <label class="form-label" for="file">File</label> -->
                <input type="text" name="full_name" id="full_name" class="form-control" placeholder="Enter Full Name">
              </div>
              <div class="input-group input-group-dynamic m-2">
                <!-- <label class="form-label" for="file">File</label> -->
                <input type="email" name="email" id="email" class="form-control" placeholder="Enter Email">
              </div>
              <div class="input-group input-group-dynamic m-2">
                <!-- <label class="form-label" for="file">File</label> -->
                <textarea class="form-control" name="message" id="message" cols="30" rows="10" placeholder="Enter Message"></textarea>
              </div>
          </div>
          <div class="modal-footer justify-content-between">
            <button type="button" class="btn bg-gradient-dark" data-bs-dismiss="modal">Close</button>
            <button type="submit" class="btn bg-gradient-info">Submit</button>
          </div>
        </form>
      </div>
    </div>
{% endblock content %}

<!-- Specific JS goes HERE --> 
{% block javascripts %}{% endblock javascripts %}
