{% extends "admin/base.html" %}
{% block title %} Languages {% endblock %}
{% block languages_active %} active {% endblock %}
{% block content %}
      <div class="container">
        <section>
          <div class="table-responsive">
            <table
              class="table table-striped table-hover table-borderless table-primary align-middle"
            >
              <thead class="table-light">
                <tr>
                  <th>Name</th>
                  <th>Actions</th>
                </tr>
              </thead>
              <tbody class="table-group-divider">
                {% for language in languages|sort(attribute='name') %}
                <tr class="table-light">
                  <td>{{ language.name }}</td>
                  <td>
                    <a href="#"><i class="fa fa-edit"></i></a>
                    <a href="#"><i class="fa fa-trash"></i></a>
                  </td>
                </tr>
                {% endfor %}
              </tbody>
              <tfoot></tfoot>
            </table>
          </div>
        </section>
      </div>
{% endblock %}