{% extends "base.html" %}
{% block title %} Home {% endblock %}
{% block content %}
<div class="container">
    {{ author.first_name }} {{ author.last_name}}
    <div class="container-fluid">
        <div class="row">
          {% for book in books %}
          {% for book_author in book.authors %}
          {% if book_author.id == author.id %}
          <div class="col"></div>
            <a href="/book/{{ book.id }}">{{ book.title }}<br /></a>
          </div>
          {% endif %}
          {% endfor %}
          {% endfor %}
        </div>
      </div>
      </div>
{% endblock %}