{% extends "base.html" %}
{% block title %} Home {% endblock %}
{% block content %}
<div class="container">
    {% if book.cover == None %}
    <div class="text-center" style="width: 120px; height: 150px; background-color: #CCCCCC;">
        <h6>{{ book.title }}</h6>
    </div>
    {% else %}
    <img src="{{ url_for('static', filename='uploads/The_Hitchhikers_Guide_to_the_Galaxy_(594)/cover.jpg') }}?{{cache_id}}" alt="cover" width="120" height="150">
    {% endif %}
    {{ book.title }}<br>
    {% for author in book.authors %}
    <p>{{ author.first_name }} {{ author.last_name }}</p>
    {% endfor %}
</div>
{% endblock %}