{% extends "base.html" %}
{% block title %} Discover {% endblock %}
{% block discover_active %} link-info {% endblock %}
{% block content %}
      <div class="container">
        <section>
        <div class="border border-info rounded p-2">
          <div class="container-fluid">
          <div class="row">
            <div class="authors col">
              <h3 class="filter-title">Authors</h3>
              <h4 class="filter-subtitle"></h4>
              <div class="">
                <ul class="popover">
                  {% for author in authors|sort(attribute='first_name') %}
                  <li>
                    <input
                      type="checkbox"
                      data-type="author"
                      data-id="{{ author.id }}"
                      data-name="{{ author.first_name }} {{ author.last_name }}"
                    />
                    {{ author.first_name }} {{ author.last_name }}
                  </li>
                  {% endfor %}
                </ul>
              </div>
            </div>
            <div class="languages col" >
              <h3 class="filter-title">Languages</h3>
              <h4 class="filter-subtitle"></h4>
              <div class="" style="">
                <ul class="popover">
                  {% for language in languages|sort(attribute='name') %}
                  <li>
                    <input
                      type="checkbox"
                      data-type="language"
                      data-id="{{ language.id }}"
                      data-name="{{ language.name }}"
                    />
                    {{ language.name }}
                  </li>
                  {% endfor %}
                </ul>
              </div>
            </div>
            <div class="search col">
              <input
                type="search"
                class="form-control"
                placeholder="Search..."
                aria-label="Search"
              />
            </div>
            <div class="col">
            <button class="btn btn-info text-white">Search</button>
          </div>
          </div>
        </div>
        </section>
        <section class="books">
          <h1>Books</h1>
          <div class="container">
            <div class="row">
              {% for book in books|sort(attribute='title') %}
              <div class="col m-1">
                {% if book.cover == None %}
                <div class="text-center" style="width: 130px; height: 160px; background-color: #CCCCCC;">
                  <h6>{{ book.title }}</h6>
                </div>
                {% else %}
                <img src="{{ url_for('static', filename='uploads/The_Hitchhikers_Guide_to_the_Galaxy_(594)/cover.jpg') }}?{{cache_id}}" alt="cover" width="130" height="160">
                {% endif %}
                <a class="nav-link link-info" href="/book/{{ book.id }}">{{ book.title }}<br /></a>
                by {% for book_author in book.authors %}
                <a class="nav-link link-info" href="/author/{{ book_author.id }}">{{ book_author.first_name }} {{ book_author.last_name }}</a>
                {% endfor %}
              </div>
              {% endfor %}
            </div>
          </div>
        </section>
      </div>
{% endblock %}