{% extends "layouts/base.html" %}

{% block title %} Dsicover {% endblock %} 

{% block body_class %} discover {% endblock %}

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}
  {% include 'includes/navigation.html' %}

  <header class="bg-gradient-dark">
    <div class="page-header min-vh-75" style="background-image: url('/static/assets/img/bg10.jpg');">
      <span class="mask bg-gradient-dark opacity-6"></span>
      <div class="container">
        <div class="row justify-content-center">
          <div class="col-lg-8 text-center mx-auto my-auto">
            <h1 class="text-white aa">Discover</h1>
            <div class="container">
              <div class="row py-7 text-center">
                <div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </header>

  <div class="card card-body shadow-xl mx-3 mx-md-4 mt-n6">
  <section>
    <div class="page-header min-vh-100">
      <div class="container">
        <div class="row">
          <div class="container">
            <div class="row books">
              {% for book in books %}
        
              <div class="col-lg-2 col-md-3 mt-md-0">
                <a href="/book/{{ book.id }}">
                  <div class="card shadow-lg move-on-hover min-height-200 min-height-200 max-height-200">
                    <img class="w-100 my-auto" src="{{ book.cover }}" alt="hero">
                  </div>
                  <div class="mt-2 ms-2">
                    <h6 class="mb-0">{{ book.title }}</h6>
                    by {% for book_author in book.authors %}
                        <a class="nav-link link-info" href="/author/{{ book_author.id }}">{{ book_author.first_name }} {{ book_author.middle_name }} {{ book_author.last_name }}</a>
                    {% endfor %}
                  </div>
                </a>
                <a href="/author/">
                  <div class="mt-2 ms-2">
                    <p class="text-secondary text-sm"></p>
                  </div>
                </a>
              </div>
              {% endfor %}
            </div>
          </div>
        </div>
        </div>
      </div>
    </div>
  </section>
      </div>
{% endblock %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}
<!-- <script>
  $(function () {
    $.ajax({
      url: 'http://localhost/api/v1/books',
      type: 'GET',
      dataType: 'json',
      success: function (data) {
        data.map((book) => {
          $('.books').append(`
          <div class="col-lg-2 col-md-3 mt-md-0">
            <a href="/book/${book.id}">
              <div class="card shadow-lg move-on-hover min-height-200 min-height-200 max-height-200">
                <img class="w-100 my-auto" src="{{ url_for('static', filename='uploads/The_Hitchhikers_Guide_to_the_Galaxy_(594)/cover.jpg') }}" alt="hero">
              </div>
              <div class="mt-2 ms-2">
                <h6 class="mb-0">${book.title}</h6>
              </div>
            </a>
            <a href="/author/">
              <div class="mt-2 ms-2">
                <p class="text-secondary text-sm"></p>
              </div>
            </a>
          </div>`)
        })
      },
    })
  })
</script> -->
{% endblock javascripts %}
